{% extends 'base.html'%}
{% block body %}


{% load static%}

<div class="container-fluid hero">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
            <!-- <h1>The revolution is here.</h1>
            <p>Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button>
        </div> -->
            <!-- <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"> -->
            <div class="phone-mockup"><img class="device" src="{%static 'img/slide1.png'%}">
                <div class="screen"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid center-container">
    <div class="container-para">
        <p style="color: #000000; padding: 5rem 0;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
            tenetur error, harum nesciunt ipsum debitis quas aliquid. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Sequi, modi explicabo, eligendi facere, reiciendis minus eos non
            ipsam esse id similique! Obcaecati odit qui perspiciatis voluptas, aspernatur illo nihil optio.
        </p>
    </div>
</div>

{% endblock body %}